<div class="container" id="grid-user">

  <div class="tree-book-side">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link head tn active" id="home-tab" data-toggle="tab" href="#trees" role="tab" aria-controls="trees" aria-selected="true">Mes arbres</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link head tn" id="resas-tab" data-toggle="tab" href="#resas" role="tab" aria-controls="resas" aria-selected="false">Mes réservations</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="trees" role="tabpanel" aria-labelledby="trees-tab">
        <%= render 'content_my_trees', trees: @my_trees, bookings: @my_bookings %>
      </div>
      <div class="tab-pane fade" id="resas" role="tabpanel" aria-labelledby="resas-tab">
        <%= render 'content_my_bookings', trees: @my_trees, bookings: @my_bookings %>
      </div>
    </div>
  </div>


  <div>
  </div>

  <div class="user-side">
    <p class="head head-user">Mes informations</p>
    <div class="card-show-user">
      <div class="avatar-user-show">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", id: "avatar", alt: "avatar-large" %>
        <h2> <%= current_user.username %> </h2>
      </div>
      <div class="card-user-infos">
        <p> <%= current_user.email %> </p>
        <div class="link-to-user">
          <%= link_to edit_registration_path(current_user) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to destroy_user_session_path(current_user),
          method: :delete,
          data: { confirm: "Confirmer la suppression de mon compte" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="footer">
<div class="footer-links">
  <a href="#"><i class="fab fa-github"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
<div class="footer-copyright">
  Ce footer est fait avec <i class="fas fa-heart"></i> par Théo, Benjamin et Morgane
</div>
