<div class="container" id="grid-user">

  <div class="tree-book-side">

    <div class="card-title">
      <ul>
        <li class="nav-item">My trees</li>
        <li class="nav-item">My reservation</li>
      </ul>
    </div>

<%# <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul> %>




    <%# si je clique sur tree je vois tous les arbres du proprio%>
    <div class="trees-of-user">
      <% @my_trees.each do |tree| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-tree-infos">
            <h2> <%= tree.name %></h2>
            <p> <%= tree.localisation %> </p>
            <p> <strong><%= tree.price %></strong> </p>
            <p> <%#= @booking.status %> </p>

            <div class="link-to-tree">
                    <%= link_to edit_tree_path(tree) do %>
                <i class="far fa-edit"></i>
              <% end %>
              <%= link_to tree_path(tree),
              method: :delete,
              data: { confirm: "Etes vous sûr ?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

    <%# si je clique sur tree je vois tous les arbres du proprio%>
    <%# <div class="bookings-of-user"> %>
      <%# @my_trees.each do |tree| %>
      <%# <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-booking-infos"> %>
          <h2> <%#= tree.name %></h2>
          <p> <%#= tree.localisation %> </p>
          <p> <%#= tree.price %> </p>
          <p> <%#= @booking.status %> </p>
          <p> <%#= @booking.booked_at %> </p>
          <%# <div class="link-to-booking"> %>
            <%#= link_to "Editer", edit_booking_path(@booking) %>
            <%#= link_to "Suprimer", booking_path(@booking),
            method: :delete,
            data: { confirm: "Etes vous sûr ?" } %>
          <%# </div>
        </div>
      </div> %>
      <%# end %>
    <%# </div> %>
  </div>

  <div>
  </div>

  <div class="user-side">
    <p class="head-user">Mes informations</p>
    <div class="card-show-user">
      <div class="avatar-user-show">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", id: "avatar", alt: "avatar-large" %>
        <h2> <%= current_user.username %> </h2>
      </div>
      <div class="card-user-infos">
        <p> <%= current_user.email %> </p>
        <div class="link-to-user">
          <%= link_to edit_registration_path(current_user) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to destroy_user_session_path(current_user),
          method: :delete,
          data: { confirm: "Confirmer la suppression de mon compte" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
