
<div class="container">
  <h2>Découvrez nos Arbres</h2>

  <div class="d-flex">
  <%# <div class="d-flex justify-content-between mt-5"> %>
    <% @trees.each do |tree| %>
      <%= link_to tree_path(tree) do %>
        <div class="card-trip">
         <%= cl_image_tag tree.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h3><%= tree.name %></h2>
            <p><%= tree.description %></p>
          </div>
          <p class="card-trip-pricing"><strong><%= tree.price %>€</strong></p>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
