<body class="background">
  <div class="container" id="booking">
    <div class="big-card">
      <div class="container">
        <h2>Ajouter un arbre 🌳</h2>
        <%= simple_form_for @tree do |f| %>
          <%= f.input :name %>
          <%= f.input :localisation %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</body>
