<div class="container">
  <h1><%= @tree.name %></h1>
    <%= link_to "Back to all trees", trees_path %>

  <div class="product">
    <p> <%= @tree.description %> </p>
    <p> <%= @tree.price %> </p>
    <p> <%= @tree.localisation %> </p>
  </div>

  <div class="btn-reservation"> </div>
</div>

<div class="container">
  <%= link_to 'Edit', edit_tree_path(@tree) %>
</div>

<div class="container">
  <%= link_to "Delete #{@tree.name}",
            tree_path(@tree),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>
