<div class="container">
  <h1><%= @tree.name %></h1>
    <%= link_to "Back to all trees", trees_path %>

  <div class="product">
    <p> <%= @tree.description %> </p>
    <p> <%= @tree.price %> </p>
    <p> <%= @tree.localisation %> </p>
  </div>

  <div class="btn-reservation">
    <%= link_to 'Add a booking', new_tree_booking_path(@tree)%>
  </div>

</div>
