<div class="container" id="grid-user">

  <div class="product">
    <%= cl_image_tag @tree.photo, height: 300, width: 400, crop: :fill %>
    <h1><%= @tree.name %></h1>
    <p> <%= @tree.description %> </p>
    <p> <%= @tree.price %> </p>
    <p> <%= @tree.localisation %> </p>

    <div class="btn-reservation">
      <%= link_to 'Réserver cet arbre', new_tree_booking_path(@tree)%>
    </div>
    <%= link_to "Retour à notre sélection", trees_path %>
  </div>

  <div></div>

 <div id="map"
     style="width: 150%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
