<div class="container">
  <h1><%= @tree.name %></h1>
    <%= link_to "Retour à notre sélection", trees_path %>

  <div class="product">
    <p> <%= @tree.description %> </p>
    <p> <%= @tree.price %> </p>
    <p> <%= @tree.localisation %> </p>
  </div>

  <div class="btn-reservation">
    <%= link_to 'Réserver cet arbre', new_tree_booking_path(@tree)%>
  </div>

</div>
