<div class="banner" style="background-image: url('https://source.unsplash.com/eyfMgGvo9PA/1600x900');">
  <div class="container">
    <h1>Airbntree</h1>
  </div>
</div>

<div class="container mt-5">
  <div>
    <h2>Découvrez nos arbres</h2>
  </div>
  <div class="d-flex justify-content-between mt-5">
    <% @trees.each do |tree| %>
      <%= link_to tree_path(tree) do %>
        <div class="card-trip">
        <img src="https://source.unsplash.com//yPSbirjJWzs/1600x900" />
        <div class="card-trip-infos">
          <div>
            <h2><%= tree.name %></h2>
            <p><%= tree.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= tree.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container d-flex justify-content-center mt-5">
  <%= link_to "Découvrez les tous", trees_path, class: "btn-ghost"%>
</div>

<div class="container mt-5">
  <div>
    <h2>Rejoignez-nous !</h2>
  </div>
  <div class="d-flex justify-content-between mt-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://source.unsplash.com/EPy0gBJzzZU/1600x900)">
      <%= link_to "Ajouter un arbre", new_tree_path, class: "btn-light" %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>

</div>
