<div id="map"
  style="width: 100%; height: 450px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
<%# <div class="container mt-5"> %>
  <div>
    <h2>Vivez une nouvelle aventure</h2>
  </div>
  <div class="d-flex justify-content-between">
  <%# <div class="d-flex justify-content-between mt-5"> %>
    <% @trees.first(3).each do |tree| %>
      <%= link_to tree_path(tree) do %>
        <div class="card-trip">
          <img src="https://source.unsplash.com//yPSbirjJWzs/1600x900" />
        <div class="card-trip-infos">
          <div>
            <h3><%= tree.name %></h2>
            <p><%= tree.description %></p>
          </div>
          <p class="card-trip-pricing"><strong><%= tree.price %>€</strong></p>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container d-flex justify-content-center mt-5">
  <%= link_to "Découvrez nos arbres", trees_path, class: "btn"%>
</div>
<%# <div class="container"> %>
<div class="container mt-5">
  <div>
    <h2>Rejoignez-nous !</h2>
  </div>

  <div class="d-flex justify-content-between">
  <%# <div class="d-flex justify-content-between mt-5"> %>
    <div class="card-category">
      <%= link_to "Ajoutez un arbre", new_tree_path, class: "btn btn-bottom" %>
      <%#= link_to "Ajouter un arbre", new_tree_path, class: "btn-light" %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ce footer est fait avec <i class="fas fa-heart"></i> par Théo, Benjamin et Morgane
  </div>
</div>

